html{
    font-family: calibri;
    background-image: url(img/email-pattern.png);
}

.button-div{
    display: flex;
    justify-content: flex-end;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#myBtn{
    background-color: white;
      color: black;
      border: solid; 
    padding: 8px;
    border-radius: 10px;
    width: 150px;
    font-size: 15px;
    font-weight: 600;
}

#myBtn:hover{
    background-color: #e0e4ff;
    cursor: pointer;
}


/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  padding-top: 100px; /* Расположение коробки */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант  */
  background-color: rgba(0,0,0,0.4); /*Черный с непрозрачностью */
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

/* Модальное содержание */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 70%;
}

/* Кнопка закрытия */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.to_do, .in_progress, .done{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    text-align: center;
}


#card{
    width: 80%;
    border: solid;
    border-radius: 15px;
    padding: 10px;
    margin-left: 2vw;
    margin-bottom: 20px;
    text-align: left;
    background-color: white;
}

#card_head{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.menu_button{
    background: none;
    border: none;
    float: right;
}

.card_hr{
    border: none;
    background-color: black;
    color: black;
    height: 1px;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    border-radius: 15px;
    padding: 5px;
    background-color: #e0e4ff;
}

.dropdown-content button {
  float: none;
  display: block;
  text-align: left;
    border: none;
    padding: 8px;
    font-size: 16px;
    background: none;
    cursor: pointer;
}

.dropdown-content button:hover {
  color: #5e3dff;
}

#heading{
    width: 90%;
    border: 2px solid;
    border-radius: 5px;
    height: 20px;
    margin-top: 10px;
}

#body{
    width: 90%;
    border: 2px solid;
    border-radius: 5px;
    height: 40vh;
    border: 2px solid;
    border-radius: 15px;
    margin-top: 10px;
    resize: none;
    padding: 5px;
}

.subm-button{
    background-color: white;
      color: black;
      border: 2px solid; 
    padding: 3px;
    border-radius: 10px;
    width: 150px;
    font-size: 15px;
    font-weight: 600;
}

.subm-button:hover{
    background-color: #e0e4ff;
    cursor: pointer;
}

.my-form{
    margin-top: 5vh;
}